
html {
    background-color: rgb(175, 236, 236);
}


.pokemon-selected {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:70%;
}


#pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}

#pokemon-details {
    width:1000px;
    margin: -254px 0px 20px 0px;
    color: rgb(231, 29, 29);
}

h1 {
    font-size: 3rem;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    text-align: center;
}

h2 {
    font-size: 4em;
    margin: .25em;
}

#pokemon-details button {
    margin: auto;
    font-size: medium;
    border-radius: 5px;
    padding:0em .5em 0em .5em;
}

div#main {
    margin: auto;
}